/* Custom App Style */

/* Notification */
.notification {
  background-color: #06D19C;
}
.notification-content {
  padding: 1rem;
  text-align: center;
}

/* Form Input Danger Style */
.danger {
  border-color: red !important;
  color: red !important;
  margin-bottom: unset !important;
}

.help {
  display: block;
  color: red;
  text-align: start;
  font-size: 0.8rem;
  justify-self: left;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

/* Alarm Content */
.alarm-content {
  text-align: center !important;
}

.alarm-date {
  margin-bottom: unset;
}

.alarm-time {
  font-size: 6.5rem;
  margin-bottom: unset;
}

.alarm-description {
  margin-top: unset !important;
}

.actions {
  display: flex;
  justify-content: center;
}
.action {
  margin: 0.8rem;
}

/* Notification Permission */
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 2px solid #6C63FF;
  width: 50%; /* Could be more or less, depending on screen size */
}

/* Active/Inactive Spans */
.alarm__active {
  padding: 0.5rem;
  background-color: #06D19C;
  color: #fefefe;
}

.alarm__inactive {
  padding: 0.5rem;
  background-color: rgb(209, 6, 6);
  color: #fefefe;
}
